absl-py==1.4.0
asgiref==3.6.0
astunparse==1.6.3
black==23.1.0
cachetools==5.3.0
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
cmake==3.25.2
colorama==0.4.6
distlib==0.3.6
Django==4.1.7
dlib @ file:///C:/Users/Vijay/Downloads/dlib_compiled-19.22/dlib_compiled-19.22/dlib-19.22.99-cp39-cp39-win_amd64.whl
filelock==3.9.0
flatbuffers==23.1.21
gast==0.4.0
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.1
h5py==3.8.0
idna==3.4
importlib-metadata==6.0.0
imutils==0.5.4
keras==2.11.0
libclang==15.0.6.1
Markdown==3.4.1
MarkupSafe==2.1.2
mypy-extensions==1.0.0
numpy==1.24.2
oauthlib==3.2.2
opencv-python==4.7.0.68
opt-einsum==3.3.0
packaging==23.0
pathspec==0.11.0
platformdirs==3.0.0
playsound==1.2.2
protobuf==3.19.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
scipy==1.10.0
six==1.16.0
sqlparse==0.4.3
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.30.0
termcolor==2.2.0
tomli==2.0.1
typing_extensions==4.5.0
tzdata==2022.7
urllib3==1.26.14
virtualenv==20.19.0
Werkzeug==2.2.3
wrapt==1.14.1
zipp==3.13.0
